node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist
/native/lynx/dist
/playwright-report
/test-results
/blob-report

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
